@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}




*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f60;
  background-image: linear-gradient(315deg, #fe1f1f 0%, #f60 74%);
}
/* 
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#626262, #141414);
} */


body {
  background-color: #1a1a1a;
  color: white;
}

.menu-button:focus {
  outline: none;
  background-color: none;
}

.custom-h{
  min-height: calc(100vh - 60px);
}

.gradient-text1{
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}