@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}




*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f60;
  background-image: linear-gradient(315deg, #fe1f1f 0%, #f60 74%);
}
/* 
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#626262, #141414);
} */


body {
  background-color: black;
  color: white;
}

.menu-button:focus {
  outline: none;
  background-color: none;
}

.custom-h{
  min-height: calc(100vh - 60px);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
#main{
 background-color: BurlyWood;
 float: right;
 height:200px;
  width: 75%;
}
#sidebar{
 background-color: IndianRed;
 width:25%;
 float: left;
 height:200px;
 overflow-y: hidden;
}

#dragbar{
 background-color:black;
 height:100%;
 float: right;
 width: 10px;
 cursor: col-resize;
}
#ghostbar{
  width:3px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:999}